[project]
	description = A place to experiment (public).
[access "refs/*"]
	owner = group user/Bob Burke (bobburke)
[access "refs/for/refs/*"]
	read = group user/Bob Burke (bobburke)
	push = group user/Bob Burke (bobburke)
	label-Code-Review = -2..+2 group user/Bob Burke (bobburke)
	label-Verified = -1..+1 group user/Bob Burke (bobburke)
	rebase = group user/Bob Burke (bobburke)
	removeReviewer = group user/Bob Burke (bobburke)
	submit = group user/Bob Burke (bobburke)
[access "refs/heads/*"]
	read = group user/Bob Burke (bobburke)
	create = group user/Bob Burke (bobburke)
	push = +force group user/Bob Burke (bobburke)
	pushMerge = group user/Bob Burke (bobburke)
[access "refs/tags/*"]
	push = +force group user/Bob Burke (bobburke)
	pushTag = group user/Bob Burke (bobburke)
	pushSignedTag = group user/Bob Burke (bobburke)
